:root {
  --branding-color: #6c63ff;
  --heading-font-family: Playfair Display, sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
/* the index/home css styling */
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 70px;
  line-height: 1.5;
}
.hero {
  background: #ffdfdf;
  text-align: center;
  padding: 50px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}
.hero h3 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
  color: #272142;
}
.btn-primary {
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
}
.branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
/* the about me css styling */
.about-section {
  text-align: center;
  padding: 80px 20px;
}
.about-section h1 {
  font-size: 40px;
  padding: 10px;
  margin: 0;
}
.about-section h4 {
  font-family: var(--default-font-family);
  padding: 10px;
  margin: 0;
}
.about-section p {
  padding: 10px;
  margin: 0;
}
.about-section-content {
  margin: 30px;
}
/* the work css styling */
.work-section {
  text-align: center;
  padding: 10px 10px;
}
.work-section h3 {
  margin-top: 50px;
  font-size: 40px;
  font-family: var(--heading-font-family);
}
.work-section h4 {
  font-family: var(--default-font-family);
}

/* CONTACT css styling */

.contact-content {
  text-align: center;
  padding: 50px 20px;
}
.contact-content h2 {
  margin-top: 20px;
  font-size: 50px;
  font-family: var(--heading-font-family);
  padding: 10px;
}
.contact-content p,
h4 {
  font-family: var(--default-font-family);
}
.social-icons {
  font-size: 3rem;
  padding: 2rem;
}
.fa-linkedin {
  color: #0a66c2;
}
.fa-square-x-twitter {
  color: #0f1419;
}
.fa-facebook {
  color: #0866ff;
}
.fa-instagram {
  color: #f402c2;
}
form {
  width: 100px;
}

/* Navbar css styling */
.container-nav {
  background: #ffdfdf;
}
nav a {
  text-decoration: none;
  font-family: var(--default-font-family);
  font-size: 20px;
  color: #000;
  transition: all 100ms ease-in-out;
  margin: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
nav li {
  display: inline;
  padding: 20px;
}
/* github icon styling and footer */
footer {
  background: #ffdfdf;
}
footer p {
  font-family: var(--default-font-family);
}
.fa-github {
  font-size: 80px;
  color: #000;
  text-align: center;
}
/* BODY styling*/
body {
  background-color: #fcf8f8;
}
/* the work media queries */
@media (max-width: 400px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 40px;
  }
}
