:root {
  --branding-color: #6c63ff;
  --heading-font-family: Playfair Display, sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 70px;
  line-height: 1.5;
}
.hero {
  background: #fff4f4;
  text-align: center;
  padding: 100px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}
.hero h3 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
  color: #272142;
}
.btn-primary {
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
h2 {
  font-size: 55px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}
p {
  font-weight: normal;
  font-size: 16px;
}
.branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about-section {
  text-align: center;
  padding: 80px 20px;
}
.about-section h1 {
  font-size: 40px;
  padding: 10px;
  margin: 0;
}
.about-section h4 {
  font-family: var(--default-font-family);
  padding: 10px;
  margin: 0;
}
.about-section p {
  padding: 10px;
  margin: 0;
}
.about-section-content {
  margin: 30px;
}
.work-section {
  text-align: center;
  padding: 80px 20px;
}
.work-section h3 {
  margin-top: 70px;
  font-size: 40px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1,
  h2 {
    font-size: 40px;
  }
}
